[submodule "duckencoder"]
	path = duckencoder
	url = https://github.com/mame82/duckencoder.py
[submodule "john-1-8-0-jumbo_raspbian_jessie_precompiled"]
	path = john-1-8-0-jumbo_raspbian_jessie_precompiled
	url = https://github.com/mame82/john-1-8-0-jumbo_raspbian_jessie_precompiled
[submodule "Responder"]
	path = Responder
	url = https://github.com/mame82/Responder
	branch = EMULATE_INTERNET_AND_WPAD_ANYWAY
[submodule "nexmon"]
	path = nexmon
	url = https://github.com/mame82/P4wnP1_nexmon_additions
