[submodule "duckencoder"]
	path = duckencoder
	url = https://github.com/mame82/duckencoder.py
[submodule "john"]
	path = john
	url = https://github.com/mame82/john-1-8-0-jumbo_raspbian_jessie_precompiled
